/* Imports */

/* SCSS Variables */

/* Generic Selectors */
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Block Level */
html {
    font-size: 62.5%; // Setting this to 62.5% for easy rem conversion.
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem; // Sets this to be 16px; standard <body> size.
}

h1, h2, h3, h4, h5, h6 {

}

a {
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Header */
header {

}

/* Main Navigation */
nav {

}

/* Main Content */
main {

}